@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: 'VT323', monospace;
}


#main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}



/*
S-Header
*/
#logo-as {
  font-family: 'VT323', monospace;
  color: white;
  margin-left: 40px;
}

#main-header-container {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  font-size: 15px;
}

#header-link-nav{
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header-link-nav:hover{
  cursor: pointer;
}

#header-links-container {
  width: 100px;
  border: solid lightgreen 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  margin-left: -40px;
  margin-top: 90px;
}

.header-link{
  margin-bottom: 2px;
  text-decoration: none;
  color: white;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'VT323', monospace;
}

.header-link:hover {
  cursor: pointer;
  color: lightgreen;
}
/*
E-Header
*/

/*
S-homePage
*/
#rm-logo-container{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

#rm-logo-container:hover{
  cursor: pointer;
}

#rm-logo{
  width: 500px;
}

#quote-container{
  width: 315px;
  height: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quote-quote{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: lightgreen;
}

#options-header-container{
  margin-bottom: 5px;
}

#options-header{
  color: lightgreen;
  border-bottom: solid 1px lightgreen;
}

#options-container{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-link-container{
  color: black;
  margin-top: 2px;
  margin-bottom: 2px
}

.option-link-container:hover{
  cursor: pointer;
  color: lightgreen !important;
}

.option-link{
  color: white;
}

.option-link:hover{
  color: lightgreen;
}

.option-pointer:hover{
  cursor: 'default';
  color: black;
}
/*
E-homePage
*/

/*
S-Season
*/
#seasons-header-container{
  margin-bottom: 5px;
}

#seasons-header{
  color: lightgreen;
  border-bottom: solid 1px lightgreen;
  font-size: 16px;
}

#main-season-container{
  margin-top: 50px;
  margin-bottom: 100px;
  border: solid lightgreen 1px;
  width: 315px;
  font-size: 12px;
}

#season-header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: solid lightgreen 1px;
  font-size: 14px;
}

#season-name{
  margin-top: 2px;
  margin-bottom: 2px;
  color: lightgreen;
}

#season-episodes-container{
  margin-left: 6px;
}

#season-links-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'VT323', monospace;
  color: black;
}

.season-link-container:hover {
  color: lightgreen !important;
}

.season-pointer:hover{
  cursor: 'default';
  color: black;
}

.season-link{
  text-decoration: none;
  color: white;
  font-family: 'VT323', monospace;
  font-size: 16px;
}

.season-link:hover{
  text-decoration: none;
  color: lightgreen;
  font-family: 'VT323', monospace;
}

.episode-link-container{
  color: black;
  margin-top: 2px;
  margin-bottom: 2px;
  width: fit-content;
}

.episode-link{
  color: white;
}

.episode-link:hover{
  color: lightgreen;
}

.episode-link-container:hover {
  cursor: pointer;
  color: lightgreen !important;
}

.episode-pointer:hover{
  cursor: 'default';
  color: black;
}
/*
E-Season
*/

/*
S-content-container
*/
#content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*
E-content-container
*/

/*
S-Episode
*/
#episode-season-goback{
  margin-top: 10px;
  width: 315px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}

#episode-season-goback:hover{
  cursor: pointer;
  color: lightgreen;
}

#main-episode-info-container{
  margin-top: 40px;
  margin-bottom: 10px;
  width: 315px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#episode-header-container{
  margin-bottom: 5px;
}

#episode-header{
  border-bottom: solid 1px lightgreen;
  color: lightgreen;
}

.next-prev-button{
  color: lightgreen
}

.next-prev-button:hover{
  cursor: pointer;
}

#episode-info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.episode-info{
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
}

#episode-name-span{
  text-align: center;
  width: auto;
}

#main-mini-char-container{
  margin-top: 50px;
  margin-bottom: 100px;
  border: solid lightgreen 1px;
  width: 315px;
  font-size: 14px;
}

#mini-char-header-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: solid 1px lightgreen;
  color: lightgreen;
}

#mini-char-header{
  margin-top: 2px;
  margin-bottom: 2px;
}

.mini-char-span{
  display: flex;
  flex-direction: row;
  border: solid black 1px;
  height: 48px;
}

.mini-char-span:hover{
  cursor: pointer;
  color: lightgreen;
  background-color: rgb(63, 59, 59);
}

.char-mini-img-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.mini-char-img{
  width: 33px;
  height: 33px;
  border-radius: 100%;
}

.char-mini-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
/*
E-Episode
*/

/*
S-Character
*/
#main-char-container{
  margin-top: 20px;
  margin-bottom: 50px;
  width: 315px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px lightgreen;
}

#char-img-container{
  width: 315px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#char-img{
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

#char-status-span{
  margin-left: 190px;
  margin-top: -27px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 27px;
  border-radius: 100%;
}

#char-name-span{
  border-bottom: solid 1px lightgreen;
  text-align: center;
}

.char-info-container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: auto;
}

#char-name-span{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.char-info{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.char-info-icon-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

#char-main-season-container{
  margin-top: 10px;
  border-top: solid 1px lightgreen;
  width: 315px;
  font-size: 12px;
}
/*
E-Character
*/


@media (max-width: 500px) {
  #rm-logo{
    width: 315px;
  }

  #quote-container{
    margin-top: 10px;
  }

  #quote-quote{
    font-size: 14px;
  }
}