@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: 'VT323', monospace;
}

h1 {
  font-family: 'VT323', monospace;
}

/*
S-Header
*/
#logo-as {
  font-family: 'VT323', monospace;
  color: white;
  margin-left: 40px;
}

#main-header-container {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: black;
  width: 100%;
  position: fixed;
  top: 0;
  font-size: 15px;
}

#header-link-container {
  margin-right: 20px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-link{
  text-decoration: none;
  color: white;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'VT323', monospace;
}

.header-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
/*
E-Header
*/

/*
S-homePage
*/
#rm-logo{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quote-container{
  width: 315px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#quote-quote{
  display: flex;
  flex-direction: column;
  text-align: center;
  color: lightgreen;
}

#options-container{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-link-container{
  color: black;
  margin-top: 2px;
  margin-bottom: 2px
}

.option-link-container:hover{
  cursor: pointer;
  color: lightgreen !important;
}

.option-link{
  color: white;
}

.option-link:hover{
  color: lightgreen;
}

.option-pointer:hover{
  cursor: 'default';
  color: black;
}

/*
E-homePage
*/

/*
S-Season
*/
#main-season-container{
  margin-top: 50px;
  border: solid lightgreen 1px;
  width: 315px;
  font-size: 12px;
}

#season-header-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: solid lightgreen 1px;
  font-size: 14px;
}

#season-name{
  margin-top: 2px;
  margin-bottom: 2px;
  color: lightgreen;
}

#season-episodes-container{
  margin-left: 6px;
}

#season-links-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'VT323', monospace;
  color: black;
}

.season-link-container:hover {
  color: lightgreen !important;
}

.season-pointer:hover{
  cursor: 'default';
  color: black;
}

.season-link{
  text-decoration: none;
  color: white;
  font-family: 'VT323', monospace;
  font-size: 16px;
}

.season-link:hover{
  text-decoration: none;
  color: lightgreen;
  font-family: 'VT323', monospace;
}

.episode-link-container{
  color: black;
  margin-top: 2px;
  margin-bottom: 2px
}

.episode-link{
  color: white;
}

.episode-link:hover{
  color: lightgreen;
}

.episode-link-container:hover {
  cursor: pointer;
  color: lightgreen !important;
}

.episode-pointer:hover{
  cursor: 'default';
  color: black;
}
/*
E-Season
*/

/*
S-content-container
*/
#content-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*
E-content-container
*/

/*
S-episode
*/
.char-span{
  display: flex;
  flex-direction: column;
  border: solid black 1px;
}

.char-span:hover{
  cursor: pointer;
  border: solid white 1px;
}
/*
E-episode
*/

/*
S-Character
*/
.main-char-container{
  width: auto;
  display: flex;
  flex-direction: row;
}

.char-info-container{
  display: flex;
  flex-direction: column;
}

.char-info{
  margin: 2px;
}
/*
E-Character
*/